<!-- correct.html  -->

<!DOCTYPE html>
<html>
<head>
    <title>Congratulation</title>
</head>
<body>
    <h2> Congratulation! Your answer is correct. </h2>

    <p>Go to <a href="{{url_for('index')}}">main page</a></p>
</body>
</html>